{%  extends 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    {% set has_help = help is defined and help != '' %}
    {% spaceless %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}{% if has_help %} has-help{% endif %}">
            {{ form_label(form) }}
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
            {% if has_help %}
                <span class="help-block">{{ help }}</span>
            {% endif %}
        </div>
    {% endspaceless %}
{%- endblock form_row %}

{% block checkbox_row -%}
    {% set has_help = help is defined and help != '' %}
    <div class="form-group form-group-checkbox{% if not valid %} has-error{% endif %}{% if has_help %} has-help{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {% if has_help %}
            <span class="help-block">{{ help }}</span>
        {% endif %}
    </div>
{%- endblock checkbox_row %}

{% block textarea_widget -%}
    {% if markdown %}
        {% set attr = attr|merge({'data-provide': 'markdown'}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{% block file_widget %}
    {% spaceless %}
        {% set container_class = 'file-widget-container' %}
        {% if preview_url is defined %}
            {% set container_class = container_class ~ ' show-preview' %}
        {% endif %}

        <div class="{{ container_class }}">
            {% if preview_url is defined %}
                <div class="file-preview">
                    <img src="{{ preview_url | imagine_filter('form_file_preview') }}" data-src="{{ asset(preview_url) }}" alt="{{ preview_basename }}" title="{{ preview_basename }}" class="img-rounded" />

                    <div class="btn-group btn-group-xs">
                        <a class="btn btn-primary" role="button" href="#"><i class="glyphicon glyphicon-edit"></i> {{'form.upload.edit' | trans({}, 'ShuweeAdminBundle') }}</a>
                    </div>
                </div>
            {% endif %}

            <div class="file-upload-widget">
                {{ block('form_widget') }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {%- if groups is defined -%}
            {{ block("form_groups") }}
        {%- endif -%}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{%- block collection_widget -%}
    <ul class="list-group">
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {%- if groups is defined -%}
            {% for group_name, group in groups %}
                {% for item in group.items %}
                    <li class="list-group-item">
                        {{ form_row(form[item]) }}
                        {%- if allow_delete -%}
                            <button type="button" class="btn btn-default btn-danger" data-delete>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                            </button>
                        {%- endif -%}
                    </li>
                {% endfor %}
            {% endfor %}
        {%- endif -%}
        {%- if allow_add and prototype is defined -%}
            <li class="list-group-item">
                <button type="button" class="btn btn-default" data-index="{% if groups is defined %}{{ groups|length }}{% else %}0{% endif %}" data-prototype="{{ form_widget(prototype)|e }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>
            </li>
        {%- endif -%}
        {{- form_rest(form) -}}
    </ul>
{%- endblock collection_widget -%}

{% block form_groups -%}
    {% for group_name, group in groups %}
        {% if group.type == 'group' %}
            <fieldset data-group="{{ group_name }}">
                <legend>{{ group_name | title | trans({}, translation_domain) }}</legend>
                {% for item in group.items %}
                    {{ form_row(form[item]) }}
                {% endfor %}
            </fieldset>
        {% else %}
            {% for item in group.items %}
                {{ form_row(form[item]) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{%- endblock form_groups %}
