{% block datagrid %}
    {{ block('datagrid_table') }}
{% endblock %}

{% block datagrid_list_actions %}
    {%- for action in actions -%}
        <a href="{{ path(action.route) }}" class="btn btn-sm btn-{{ action.getOption('btn-style') }} {{ action.getOption('classes') }}" type="button">
            {%- if action.getOption('icon') -%}
                <i class="glyphicon glyphicon-{{ action.getOption('icon') }}"></i>
            {%- endif %}
            {{ action.getOption('label') -}}
        </a>
    {%- endfor -%}
{% endblock %}

{% block datagrid_table %}
    <table class="table table-striped table-hover datagrid">
        <thead>
        <tr>
            {% for field in datagrid.fields %}
                {% set help_text = field.getOption('help') %}
                {% if help_text is not empty %}
                    <th data-toggle="tooltip" data-placement="top" data-container="body" title="{{ help_text | trans({}, 'ShuweeAdminBundle') | e('html_attr')}}">
                {% else %}
                    <th>
                {% endif %}
                {% if field.getOption('sortable') %}
                    {% set sort_field = 'e.' ~ field.name %}
                    {{ knp_pagination_sortable(datagrid.pagination, field.getOption('label') | trans({}, 'ShuweeAdminBundle'), sort_field) }}
                {% else %}
                    {{ field.getOption('label') | trans({}, 'ShuweeAdminBundle') }}
                {% endif %}
                </th>
            {% endfor %}
            {% if datagrid.getOption('show_actions_column') %}
            <th class="actions">{{ "datagrid.actions" | trans({}, 'ShuweeAdminBundle') }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for entity in datagrid.pagination %}
            <tr>
                {% for field in datagrid.fields %}
                    <td>
                        {{ datagrid_field(datagrid, field, entity) }}
                    </td>
                {% endfor %}

                {% if datagrid.getOption('show_actions_column') %}
                <td class="actions">
                    <div class="btn-toolbar">
                        <div class="btn-group btn-group-xs">
                            {% if datagrid.admin.isGranted('VIEW', entity) and datagrid.admin.hasPreviewUrlCallback() %}
                            <a class="btn btn-default" role="button" href="{{ datagrid.admin.getPreviewUrl(entity) }}"><i class="glyphicon glyphicon-eye-open"></i>  {{'crud.view' | trans({}, 'ShuweeAdminBundle') }}</a>
                            {% endif %}
                            {% if datagrid.admin.isGranted('UPDATE', entity) %}
                            <a class="btn btn-primary" role="button" href="{{ admin_get_path(datagrid.admin, 'update', {'id': entity.id}) }}"><i class="glyphicon glyphicon-edit"></i>  {{'crud.edit' | trans({}, 'ShuweeAdminBundle') }}</a>
                            {% endif %}
                            {% if datagrid.admin.isGranted('DELETE', entity) %}
                            <a class="btn btn-danger" role="button" href="{{ admin_get_path(datagrid.admin, 'delete', {'id': entity.id}) }}"><i class="glyphicon glyphicon-trash"></i> {{'crud.delete' | trans({}, 'ShuweeAdminBundle') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% else %}
            {% set size = datagrid.fields | length %}
            <tr>
                <td colspan="{% if datagrid.getOption('show_actions_column') %}{{ size + 1 }}{% else %}{{ size }}{% endif %}">
                    {{ 'datagrid.empty_grid' | trans({}, 'ShuweeAdminBundle') }}
                    {% if datagrid.admin.isGranted('CREATE') %}
                    <a href="{{ admin_get_path(datagrid.admin, 'create') }}">{{ 'datagrid.empty_grid.create' | trans({}, 'ShuweeAdminBundle') }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(datagrid.pagination) }}
{% endblock %}

{% block datagrid_boolean %}
    {% set label_class = value == true ? 'label-success' : 'label-danger' %}
    {% set text = value == true ?
    label_true|trans({}, 'ShuweeAdminBundle') :
    label_false|trans({}, 'ShuweeAdminBundle') %}

    {% if toggle and datagrid.admin.isGranted('UPDATE', entity) %}
    <a
        href="{{ admin_get_path(datagrid.admin, 'toggle', {'id': entity.id, 'field': field_name}) }}"
        title="{{ 'datagrid.boolean.toggle' | trans({}, 'ShuweeAdminBundle') }}"
        class="label {{ label_class }} toggleable"
        data-true='{"class": "label-success", "text": "{{ label_true|trans({}, 'ShuweeAdminBundle') }}"}'
        data-false='{"class": "label-danger", "text": "{{ label_false|trans({}, 'ShuweeAdminBundle') }}"}'
        >
        {{ text }}
    </a>
    {% else %}
    <span class="label {{ label_class }}">{{ text }}</span>
    {% endif %}
{% endblock %}

{% block datagrid_collection %}
    {% if value is not null %}
        {% if truncate is defined %}{% set value = value | truncate(truncate) %}{% endif %}
        {{ value }}
    {% else %}
        <span class="text-muted">{{ default_value | default('-') }}</span>
    {% endif %}
{% endblock %}

{% block datagrid_date %}
    {% if value is not null %}
        <time datetime="{{ datetime }}">
            {{ value }}
        </time>
    {% endif %}
{% endblock %}

{% block datagrid_image %}
    {% if value is not null %}
        <img src="{{ value | imagine_filter('datagrid_thumb') }}" data-src="{{ asset(value) }}" alt=""
             class="img-rounded"/>
    {% else %}
        <span class="text-muted">{{ default_value | default('-') }}</span>
    {% endif %}
{% endblock %}

{% block datagrid_text %}
    {% if value is not null %}
        {% if truncate is not null %}{% set value = value | truncate(truncate) %}{% endif %}
        {% if escape %}{{ value }}{% else %}{{ value | raw }}{% endif %}
    {% else %}
        <span class="text-muted">{{ default_value | default('-') }}</span>
    {% endif %}
{% endblock %}

{% block datagrid_url %}
    {% if value is not null %}
        {% if mailto %}
            {% set link = 'mailto:' ~ value %}
        {% else %}
            {% set link = value %}
        {% endif %}

        <a href="{{ link }}" title="{{ value }}">
            {{ label_link }}
        </a>
    {% else %}
        <span class="text-muted">{{ default_value | default('-') }}</span>
    {% endif %}
{% endblock %}
