{% extends "ShuweeAdminBundle::page_content.html.twig" %}

{% block page_title %}{{ 'dashboard' | trans({}, 'ShuweeAdminBundle') }}{% endblock %}

{% block header_title %}
    {{ 'dashboard' | trans({}, 'ShuweeAdminBundle') }}
{% endblock %}

{% block body %}
    {% for section in sections %}
        {% for admin in section.admins %}
            {% if admin_is_granted(admin, 'LIST') or admin_is_granted(admin, 'CREATE') %}
                {% if loop.first %}
                    {# Add section in first loop item to ensure we have at least one item to display into it #}
                    <h4>{{ section.label }}</h4>
                    <div class="row">
                {% endif %}
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{ admin_get_label(admin, true) }}
                                </div>
                                <div class="panel-body">
                                    {%- if admin.description is not empty -%}
                                        <p class="text-muted">{{ admin.description }}</p>
                                    {%- endif -%}
                                    {% if admin_is_granted(admin, 'LIST') %}
                                        <a href="{{ admin_get_path(admin, 'index') }}" class="btn btn-sm btn-default"
                                           type="button">
                                            <i class="glyphicon glyphicon-list"></i> {{ 'crud.list' | trans({}, 'ShuweeAdminBundle') }}
                                        </a>
                                    {% endif %}
                                    {% if admin_is_granted(admin, 'CREATE') %}
                                        <a href="{{ admin_get_path(admin, 'create') }}" class="btn btn-sm btn-success"
                                           type="button">
                                            <i class="glyphicon glyphicon-plus"></i> {{ 'crud.create' | trans({}, 'ShuweeAdminBundle') }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                {% if loop.last %}
                    {# Close section in last loop item to ensure we had at least one item to display into it #}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="well well-lg">
            It seems you don't have any Admin service defined yet.  Check out the <a href="https://github.com/wanjee/ShuweeAdminBundle/tree/master/doc">documentation</a> to figure out how to create some.
        </div>
    {% endfor %}
{% endblock %}
