{% extends "ShuweeAdminBundle::page_content.html.twig" %}

{% block title %}Shuwee admin dashboard{% endblock %}

{% block header_title %}
    {{ 'dashboard' | trans({}, 'ShuweeAdminBundle') }}
{% endblock %}

{% block body %}
    <div class="row">
        {% for admin in admins %}
            {% if admin.isGranted('LIST') or admin.isGranted('CREATE') %}
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ admin_get_label(admin, true) }}
                        </div>
                        <div class="panel-body">
                            {% if admin.isGranted('LIST') %}
                                <a href="{{ admin_get_path(admin, 'index') }}" class="btn btn-sm btn-default" type="button">{{ 'crud.list' | trans({}, 'ShuweeAdminBundle') }}</a>
                            {% endif %}
                            {% if admin.isGranted('CREATE') %}
                                <a href="{{ admin_get_path(admin, 'create') }}" class="btn btn-sm btn-success" type="button"><i class="glyphicon glyphicon-plus"></i> {{ 'crud.create' | trans({}, 'ShuweeAdminBundle') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
