{% extends "ShuweeAdminBundle::page_content.html.twig" %}

{% form_theme form 'ShuweeAdminBundle:Form:admin_layout.html.twig' %}

{% block page_title %}{{ 'crud.delete' | trans({}, 'ShuweeAdminBundle') }}{% endblock %}

{% block action_links %}
    {% if admin.isGranted('LIST') %}
    <a href="{{ admin_get_path(admin, 'index') }}" class="btn btn-sm btn-default" type="button"><i class="glyphicon glyphicon-chevron-left"></i> {{'nav.backtolist' | trans({}, 'ShuweeAdminBundle') }}</a>
    {% endif %}
    {% if admin.isGranted('CREATE') %}
    <a href="{{ admin_get_path(admin, 'update', {'id': entity.id}) }}" class="btn btn-sm btn-primary" type="button"><i class="glyphicon glyphicon-edit"></i> {{'crud.edit' | trans({}, 'ShuweeAdminBundle') }}</a>
    {% endif %}
{%  endblock %}

{% block header_title %}
    {{ 'crud.delete' | trans({}, 'ShuweeAdminBundle') }} <small>{{ admin_get_label(admin) }}</small>
{% endblock %}

{% block body %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            {{ 'crud.delete.confirm' | trans({'%entity%': admin_get_label(admin), '%entity_id%' : entity.id}, 'ShuweeAdminBundle') }}
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
