{% extends "ShuweeAdminBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_title %}{{ 'crud.delete' | trans({}, 'ShuweeAdminBundle') }}{% endblock %}

{% block action_links %}
    <a href="{{ admin_get_path(admin, 'index') }}" class="btn btn-sm btn-default" type="button"><i class="glyphicon glyphicon-chevron-left"></i> {{'nav.backtolist' | trans({}, 'ShuweeAdminBundle') }}</a>
    <a href="{{ admin_get_path(admin, 'update', {'id': entity.id}) }}" class="btn btn-sm btn-primary" type="button"><i class="glyphicon glyphicon-edit"></i> {{'crud.edit' | trans({}, 'ShuweeAdminBundle') }}</a>
{%  endblock %}

{% block header_title %}
    {{ 'crud.delete' | trans({}, 'ShuweeAdminBundle') }} <small>{{ admin_get_label(admin) }}</small>
{% endblock %}

{% block body %}
    <p>{{ 'crud.delete.confirm' | trans({'%entity%': admin_get_label(admin), '%entity_id%' : entity.id}, 'ShuweeAdminBundle') }}</p>
    {{ form(form) }}
{% endblock %}
