{% extends "ShuweeAdminBundle::page_content.html.twig" %}

{% block page_title %}{{ 'crud.list' | trans({}, 'ShuweeAdminBundle') }} - {{ admin_get_label(datagrid.admin, true) }}{% endblock %}

{% block action_links %}
{% spaceless %}
    {% if admin_is_granted(datagrid.admin, 'CREATE') %}
    <a href="{{ admin_get_path(datagrid.admin, 'create') }}" class="btn btn-sm btn-success" type="button"><i class="glyphicon glyphicon-plus"></i> {{'crud.create' | trans({}, 'ShuweeAdminBundle') }}</a>
    {% endif %}
    {{ datagrid_list_actions(datagrid) }}
{% endspaceless %}
{%  endblock %}

{% block header_title %}
    {{ 'crud.list' | trans({}, 'ShuweeAdminBundle') }} <small>{{ admin_get_label(datagrid.admin, true) }}</small>
{% endblock %}

{% block body %}
    {% if (datagrid.hasFilters) %}
    <div class="panel panel-default datagrid-filters">
        {{ datagrid_filters(datagrid) }}
    </div>
    {% endif %}
    <div class="panel panel-default">
        {{ datagrid(datagrid) }}
    </div>
{% endblock %}
