{% extends "ShuweeAdminBundle::layout.html.twig" %}

{% block page_title %}{{ 'crud.list' | trans({}, 'ShuweeAdminBundle') }}{% endblock %}

{% block action_links %}
    <a href="{{ admin_get_path(admin, 'create') }}" class="btn btn-sm btn-primary" type="button"><i class="glyphicon glyphicon-plus"></i> {{'crud.create' | trans({}, 'ShuweeAdminBundle') }}</a>
{%  endblock %}

{% block header_title %}
    {{ 'crud.list' | trans({}, 'ShuweeAdminBundle') }} <small>{{ admin_get_label(admin, true) }}</small>
{% endblock %}

{% block body %}
    Here should come the list !
{% endblock %}
