{% extends "ShuweeAdminBundle::page_content.html.twig" %}

{% form_theme form 'ShuweeAdminBundle:Form:admin_layout.html.twig' %}

{% block page_title %}{{ 'crud.update' | trans({}, 'ShuweeAdminBundle') }}{% endblock %}

{% block action_links %}
{% spaceless %}
    {% if admin.isGranted('LIST') %}
        <a href="{{ admin_get_path(admin, 'index') }}" class="btn btn-sm btn-default" type="button"><i class="glyphicon glyphicon-chevron-left"></i> {{'nav.backtolist' | trans({}, 'ShuweeAdminBundle') }}</a>
    {% endif %}
    {% if admin.isGranted('VIEW', entity) and admin.hasPreviewUrlCallback() %}
        <a href="{{ admin.getPreviewUrl(entity) }}" class="btn btn-sm btn-default" type="button"><i class="glyphicon glyphicon-eye-open"></i>  {{'crud.view' | trans({}, 'ShuweeAdminBundle') }}</a>
    {% endif %}
    {% if admin.isGranted('DELETE', entity) %}
        <a href="{{ admin_get_path(admin, 'delete', {'id': entity.id}) }}" class="btn btn-sm btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i> {{'crud.delete' | trans({}, 'ShuweeAdminBundle') }}</a>
    {% endif %}
{% endspaceless %}
{%  endblock %}

{% block header_title %}
    {{ 'crud.update' | trans({}, 'ShuweeAdminBundle') }} <small>{{ admin_get_label(admin) }}</small>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
