{% extends 'ShuweeAdminBundle::page_login.html.twig' %}

{% block page_title %}{{ 'security.login.title' | trans({}, 'ShuweeAdminBundle') }}{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert bg-danger">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error.message }}
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-lock"></span>
            {{ 'security.login.form.invite' | trans({}, 'ShuweeAdminBundle') }}
        </div>
        <div class="panel-body">
            <form class="form-signin" action="{{ path('shuwee_login_check') }}" method="post">
                <input type="text" id="username" name="_username" value="{{ last_username }}"
                       class="input-block-level"
                       placeholder="{{ 'security.login.form.username' | trans({}, 'ShuweeAdminBundle') }}"/>

                <input type="password" id="password" name="_password" class="input-block-level"
                       placeholder="{{ 'security.login.form.password' | trans({}, 'ShuweeAdminBundle') }}"/>
                <button class="btn btn-large btn-primary"
                        type="submit">{{ 'security.login.form.action' | trans({}, 'ShuweeAdminBundle') }}</button>
            </form>
        </div>
    </div>
{% endblock %}
