{% extends 'ShuweeAdminBundle::page_security.html.twig' %}

{% block page_title %}{{ 'security.login.title' | trans({}, 'ShuweeAdminBundle') }}{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert bg-danger">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error.message }}
            </div>
    {% endif %}

    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">{{ 'security.login.form.invite' | trans({}, 'ShuweeAdminBundle') }}</h2>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-block-level" placeholder="{{ 'security.login.form.username' | trans({}, 'ShuweeAdminBundle') }}" />

        <input type="password" id="password" name="_password" class="input-block-level" placeholder="{{ 'security.login.form.password' | trans({}, 'ShuweeAdminBundle') }}" />
        <button class="btn btn-large btn-primary" type="submit">{{ 'security.login.form.action' | trans({}, 'ShuweeAdminBundle') }}</button>
    </form>
{% endblock %}



